  <div>
    <div class="jumbotron"> 
      <h2>Please sign in</h2> 
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|%>
      <input class="form-control" placeholder="Username"  id="user_email" type="email" name="user[email]" value="" autofocus="autofocus">
      <p>   <p>
      <input class="form-control" placeholder="Password"  id="user_password" type="password" name="user[password]" autocomplete="off"></input>

      <% if devise_mapping.rememberable? -%>
        <div>
    
          <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
          </label>
          <input class="btn btn-success " type="submit" value="Log In" name="commit"></input>
        </div>    
      <% end -%>
      <% end -%>
    </div>
  </div>